form {
  position: relative;
  padding: 15px;
  padding-bottom: 0;
}

.error {
  display: none;
  color: #f44336;
}

.progress {
  display: none;
}

.loading {
  display: none;
  text-align: center;
  padding-bottom: 15px;
}
