template {
    display: none;
}

pre[class*=language-] {
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

iframe {
    display: block;
    width: 100%;
    margin: 9px 0;
    border: 0;
}

pre[class*=language-],
iframe {
    max-height: calc( 100vh - 130px );
}



.fancybox-content {
    padding: 15px;
}

.fancybox-content .demonstration-block {
    width: 960px;
}



#home ol {
    padding-left: 15px;
}

#home h5 {
    margin-top: 30px;
}



.container h2 {
    color: #757575;
}



.demonstration-block__preloader {
    display: none;
}

.demonstration-block__iframe {
    overflow: hidden;
}

.demonstration-block__iframe iframe {
    margin-left: -15px;
    width: calc( 100% + 30px );
}



.btn-examples,
.demonstration-block__btns {
    font-size: 0;
}

.btn-examples button,
.demonstration-block__btns button {
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1200px) {
    .hide-on-med-and-down {
        display: none !important;
    }

    .sidenav-trigger {
        display: block !important;
    }
}

@media (max-width: 1000px) {
    .fancybox-content .demonstration-block {
        width: calc( 100vw - 60px );
    }
}

@media (max-width: 600px) {
    .collection-header h4 {
        font-size: 16px;
        font-weight: bold;
    }
}