pre[class*=language-] {
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

iframe {
    display: block;
    width: 100%;
    margin: 9px 0;
    border: 0;
}

pre[class*=language-],
iframe {
    max-height: calc( 100vh - 130px );
}

.modal-content pre[class*=language-] {
    display: inline-block;
    margin-right: 15px;
    max-height: 100000%;
    min-width: 100%;
}

.modal-content iframe {
    margin-left: -15px;
    width: calc(100% + 30px);
}

.modal-content .btn-close {
    display: none;
}



#home ol {
    padding-left: 15px;
}

#home h5 {
    margin-top: 30px;
}



.container h2 {
    color: #757575;
}



[data-content] {
    display: none;
}

[data-content-selected] {
    display: block;
}