template {
    display: none;
}

pre[class*=language-] {
    border-radius: 2px;
    padding-top: 0;
    padding-bottom: 0;
}

iframe {
    display: block;
    width: 100%;
    margin: 9px 0;
    border: 0;
}

pre[class*=language-],
iframe {
    max-height: calc( 100vh - 130px );
}



.fancybox-content {
    padding: 15px;
}

.fancybox-content .demonstration-block {
    width: 960px;
}

.sidenav-trigger {
    display: none;
    margin-left: 0 !important;
}

.side-nav {
    z-index: 99999999;
}

.desktop-menu {
    display: block !important;
}

.mobile-menu {
    display: none;
    width: 200px;
    left: -100%;

    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}



#home ol {
    padding-left: 15px;
}

#home h5 {
    margin-top: 30px;
}



.container h2 {
    color: #757575;
}



.demonstration-block__preloader {
    display: none;
}

.demonstration-block__iframe {
    overflow: hidden;
}

.demonstration-block__iframe iframe {
    margin-left: -15px;
    width: calc( 100% + 30px );
}



.btn-examples,
.demonstration-block__btns {
    font-size: 0;
}

.btn-examples button,
.demonstration-block__btns button {
    margin-right: 5px;
    margin-bottom: 5px;
}

@media (max-width: 1140px) {
    .desktop-menu li[data-link="github"],
    .desktop-menu li[data-link="installation"] {
        display: none;
    }
}

@media (max-width: 1000px) {
    .fancybox-content .demonstration-block {
        width: calc( 100vw - 60px );
    }
}

@media (max-width: 750px) {
    .desktop-menu {
        display: none !important;
    }

    .sidenav-trigger {
        display: block !important;
    }

    .mobile-menu.show {
        left: 0;
    }

    .sidenav-overlay.show {
        display: block;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    .collection-header h4 {
        font-size: 16px;
        font-weight: bold;
    }
}